In [4]:
import pandas as pd


data = pd.read_csv(r'calculation_input_df.csv')
df = pd.DataFrame(data)

result_df = df.groupby(['ProductFamilyL1', 'MaterialType', 'MaterialStdUOM', 'CapacityAreaID', 'Plant', 'FormAssembly'], dropna=False).agg(
    InvQty=('InvQty', 'sum'),
    InvPallets=('InvPallets', 'sum'),
    YearThroughput=('YearThroughput', 'sum'),
    DayThroughput=('DayThroughput', 'sum')
).reset_index()

result_df

,ProductFamilyL1,MaterialType,MaterialStdUOM,CapacityAreaID,Plant,FormAssembly,InvQty,InvPallets,YearThroughput,DayThroughput
0,-,VERP,EA,1626,3.0,NaN,40256.0,5.0,33104.00,90.6900
1,-,VERP,EA,1627,3.0,NaN,13844.0,8.0,7529.00,20.6301
2,-,ZGCM,EA,1626,3.0,NaN,8839.0,26.0,346.00,0.9700
3,-,ZGCM,EA,1627,3.0,NaN,760.0,3.0,193.00,0.5300
4,Missing_Data,NaN,NaN,1627,NaN,NaN,665.0,2.0,5.00,0.0100
...,...,...,...,...,...,...,...,...,...,...
56,NaN,ROH,KG,1624,3.0,NaN,13924.0,44.0,3397.00,9.3100
57,NaN,ROH,KG,1625,3.0,NaN,8508.0,15.0,184.00,0.5000
58,NaN,ROH,KG,1626,3.0,NaN,19770.0,52.0,4818.29,13.1900
59,NaN,ROH,KG,1627,3.0,NaN,21341.0,47.0,7955.89,21.7900
60,NaN,ROH,KG,1628,3.0,NaN,14064.0,2.0,48.00,0.1400