In [5]:
import pandas as pd
import numpy as np
import os

import urllib
from sqlalchemy import create_engine, inspect

DATABASES = {
  'default': {
     'ENGINE': 'mssql',
     'NAME': "Global_MATER",
     'USER': 'miebachindianapolis',
     "PASSWORD": 'Miebach1',
     "HOST": "miebachinternal.database.windows.net",
     "PORT": "1433",
     "OPTIONS": {"driver": "ODBC Driver 17 for SQL Server",
             },
     }
}

def connect_database():

    driver = DATABASES['default']['OPTIONS']['driver']
    server = DATABASES['default']['HOST']
    database = DATABASES['default']['NAME']
    username = DATABASES['default']['USER']
    password = DATABASES['default']['PASSWORD']

    # connection parameters
    params = 'DRIVER=' + driver + ';' \
        'SERVER=' + server + ';' \
        'DATABASE=' + database + ';' \
        'UID=' + username + ';' \
        'PWD=' + password + ';'

    conn_params = urllib.parse.quote_plus(params)
    dbconn = create_engine('mssql+pyodbc:///?odbc_connect=%s' %
                           conn_params, fast_executemany=False)

    autocommit_engine = dbconn.execution_options(isolation_level="AUTOCOMMIT")
    return dbconn
engine = connect_database()

print("Linked")

Linked

In [6]:
""" find out the projects with the wrong team and tasks """

team_offcie_query = f'''
    SELECT DISTINCT member.office_id, team.id as team_id
    FROM core_user member
    JOIN global_manage_closeoutteammember cotm ON cotm.member_id = member.id
    join global_manage_closeoutteam team on team.id=cotm.team_id
'''

team_offcie_df = pd.read_sql(team_offcie_query, engine)

print("team_offcie_df - ", team_offcie_df)

team_offcie_df -      office_id  team_id
0           1        1
1           1        2
2           1        3
3           1        4
4           7       18
5           7       19
6           7       20
7           8       16
8           8       17
9          13        5
10         13        6
11         13        7
12         14        8
13         14        9
14         14       10
15         14       11
16         16       22
17         16       23
18         19       12
19         19       13
20         19       14
21         19       15

In [7]:
""" for each project, update or delete item data """

for index, row in team_offcie_df.iterrows():
    team_id = row["team_id"]
    office_id = row['office_id']

    update_query = f"""
        UPDATE global_manage_closeoutteam
        SET office_id = {office_id}
        WHERE id = {team_id}
    """
    with engine.begin() as connection:
        connection.execute(update_query)
    print("updating ...")

print("DONE")

updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
updating ...
DONE