In [47]:
import pandas as pd
import numpy as np
import os

import urllib
from sqlalchemy import create_engine, inspect

DATABASES = {
  'default': {
     'ENGINE': 'mssql',
     'NAME': "Global_MATER",
     'USER': 'miebachindianapolis',
     "PASSWORD": 'Miebach1',
     "HOST": "miebachinternal.database.windows.net",
     "PORT": "1433",
     "OPTIONS": {"driver": "ODBC Driver 17 for SQL Server",
             },
     }
}

def connect_database():

    driver = DATABASES['default']['OPTIONS']['driver']
    server = DATABASES['default']['HOST']
    database = DATABASES['default']['NAME']
    username = DATABASES['default']['USER']
    password = DATABASES['default']['PASSWORD']

    # connection parameters
    params = 'DRIVER=' + driver + ';' \
        'SERVER=' + server + ';' \
        'DATABASE=' + database + ';' \
        'UID=' + username + ';' \
        'PWD=' + password + ';'

    conn_params = urllib.parse.quote_plus(params)
    dbconn = create_engine('mssql+pyodbc:///?odbc_connect=%s' %
                           conn_params, fast_executemany=False)

    autocommit_engine = dbconn.execution_options(isolation_level="AUTOCOMMIT")
    return dbconn
engine = connect_database()

print("Linked")

Linked

In [48]:
""" find out the projects with the wrong team and tasks """

wrong_projects_query = f'''
    select DISTINCT ph.project_id, ph.contract_holding_office_id as office_id
    from  global_manage_closeouttracker ct
    join global_manage_closeouttrackeritem cti on ct.id=cti.closeout_tracker_id
    join global_manage_closeoutteam cteam on ct.team_id=cteam.id
    join global_manage_closeoutteammember member on cteam.id=member.team_id
    join core_user on core_user.id=member.member_id
    join global_manage_projectmaster pm on ct.project_id=pm.id
    join global_manage_projectheader ph on pm.id=ph.project_id
    where core_user.office_id != ph.contract_holding_office_id
'''

wrong_projects_df = pd.read_sql(wrong_projects_query, engine)

print("wrong_projects_df - ", wrong_projects_df)

wrong_projects_df -      project_id  office_id
0          619         13
1          590         13
2          622         13
3          599         13
4          608         13
5          546         13
6          594         13
7          623         13
8          557         13
9          606         13
10         586         13
11         686         13
12         618         13
13         595         13
14         569         13
15         621         13
16         635         13
17         592         13

In [49]:
""" for each project, update or delete item data """

for index, row in wrong_projects_df.iterrows():
    project_id = row["project_id"]
    office_id = row['office_id']

    # print("project_id - ", project_id)
    # print("office_id - ", office_id)

    correct_task_query = f'''
        SELECT distinct task.id as correct_task_id, task.title as task_title
        FROM core_user member
        JOIN global_manage_closeoutteammember cotm ON cotm.member_id = member.id
        join global_manage_closeoutteam team on team.id=cotm.team_id
        join global_manage_closeouttask task on team.id=task.team_id
        WHERE member.office_id=${office_id}
    '''

    correct_task_df = pd.read_sql(correct_task_query, engine)
    # print("correct_task_df - ", correct_task_df)


    wrong_item_query = f'''
        select cti.id as item_id, cti.task_id as wrong_task_id, ctask.title as task_title
        from  global_manage_closeouttracker ct
        join global_manage_closeouttrackeritem cti on ct.id=cti.closeout_tracker_id
        join global_manage_closeoutteam cteam on ct.team_id=cteam.id
        join global_manage_closeouttask ctask on cti.task_id=ctask.id
        join global_manage_projectmaster pm on ct.project_id=pm.id
        join global_manage_projectheader ph on pm.id=ph.project_id
        where pm.id=${project_id}
    '''

    wrong_item_df = pd.read_sql(wrong_item_query, engine)
    # print("wrong_item_df - ", wrong_item_df)


    merged_item_df = pd.merge(wrong_item_df, correct_task_df, on='task_title', how='left')
    print("merged_item_df - ", merged_item_df)


    for index, row in merged_item_df.iterrows():
        item_id = row["item_id"]
        correct_task_id = row['correct_task_id']

        if pd.notna(correct_task_id):
            update_query = f"""
                UPDATE global_manage_closeouttrackeritem
                SET task_id = {correct_task_id}
                WHERE id = {item_id}
            """
            with engine.begin() as connection:
                connection.execute(update_query)
            print("updating ...")
        else:
            delete_query = f"""
                delete from global_manage_closeouttrackeritem
                WHERE id = {item_id}
            """
            with engine.begin() as connection:
                connection.execute(delete_query)
            print("deleting ...")

print("DONE")

merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2673              1             All Project Fees Invoiced
1      2756              2          All Travel Expenses Invoiced
2      2839              3                      All Invoice Paid
3      4153             19      All Subcontractors Invoices Paid
4      2922              4           Feedback Sessions Completed
5      3005              5                          3PL Database
6      3088              6                          WMS Database
7      3171              7       Project Documentation On Server
8      3254              8           Project Case Study Complete
9      3337              9  Contact List Saved In Project Folder
10     3744             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2665              1             All Project Fees Invoiced
1      2748              2          All Travel Expenses Invoiced
2      2831              3                      All Invoice Paid
3      4145             19      All Subcontractors Invoices Paid
4      2914              4           Feedback Sessions Completed
5      2997              5                          3PL Database
6      3080              6                          WMS Database
7      3163              7       Project Documentation On Server
8      3246              8           Project Case Study Complete
9      3329              9  Contact List Saved In Project Folder
10     3736             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2675              1             All Project Fees Invoiced
1      2758              2          All Travel Expenses Invoiced
2      2841              3                      All Invoice Paid
3      4155             19      All Subcontractors Invoices Paid
4      2924              4           Feedback Sessions Completed
5      3007              5                          3PL Database
6      3090              6                          WMS Database
7      3173              7       Project Documentation On Server
8      3256              8           Project Case Study Complete
9      3339              9  Contact List Saved In Project Folder
10     3746             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2669              1             All Project Fees Invoiced
1      2752              2          All Travel Expenses Invoiced
2      2835              3                      All Invoice Paid
3      4149             19      All Subcontractors Invoices Paid
4      2918              4           Feedback Sessions Completed
5      3001              5                          3PL Database
6      3084              6                          WMS Database
7      3167              7       Project Documentation On Server
8      3250              8           Project Case Study Complete
9      3333              9  Contact List Saved In Project Folder
10     3740             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2671              1             All Project Fees Invoiced
1      2754              2          All Travel Expenses Invoiced
2      2837              3                      All Invoice Paid
3      4151             19      All Subcontractors Invoices Paid
4      2920              4           Feedback Sessions Completed
5      3003              5                          3PL Database
6      3086              6                          WMS Database
7      3169              7       Project Documentation On Server
8      3252              8           Project Case Study Complete
9      3335              9  Contact List Saved In Project Folder
10     3742             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2660              1             All Project Fees Invoiced
1      2743              2          All Travel Expenses Invoiced
2      2826              3                      All Invoice Paid
3      4141             19      All Subcontractors Invoices Paid
4      2909              4           Feedback Sessions Completed
5      2992              5                          3PL Database
6      3075              6                          WMS Database
7      3158              7       Project Documentation On Server
8      3241              8           Project Case Study Complete
9      3324              9  Contact List Saved In Project Folder
10     3732             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2667              1             All Project Fees Invoiced
1      2750              2          All Travel Expenses Invoiced
2      2833              3                      All Invoice Paid
3      4147             19      All Subcontractors Invoices Paid
4      2916              4           Feedback Sessions Completed
5      2999              5                          3PL Database
6      3082              6                          WMS Database
7      3165              7       Project Documentation On Server
8      3248              8           Project Case Study Complete
9      3331              9  Contact List Saved In Project Folder
10     3738             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2676              1             All Project Fees Invoiced
1      2759              2          All Travel Expenses Invoiced
2      2842              3                      All Invoice Paid
3      4156             19      All Subcontractors Invoices Paid
4      2925              4           Feedback Sessions Completed
5      3008              5                          3PL Database
6      3091              6                          WMS Database
7      3174              7       Project Documentation On Server
8      3257              8           Project Case Study Complete
9      3340              9  Contact List Saved In Project Folder
10     3747             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2661              1             All Project Fees Invoiced
1      2744              2          All Travel Expenses Invoiced
2      2827              3                      All Invoice Paid
3      4142             19      All Subcontractors Invoices Paid
4      2910              4           Feedback Sessions Completed
5      2993              5                          3PL Database
6      3076              6                          WMS Database
7      3159              7       Project Documentation On Server
8      3242              8           Project Case Study Complete
9      3325              9  Contact List Saved In Project Folder
10     3733             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2670              1             All Project Fees Invoiced
1      2753              2          All Travel Expenses Invoiced
2      2836              3                      All Invoice Paid
3      4150             19      All Subcontractors Invoices Paid
4      2919              4           Feedback Sessions Completed
5      3002              5                          3PL Database
6      3085              6                          WMS Database
7      3168              7       Project Documentation On Server
8      3251              8           Project Case Study Complete
9      3334              9  Contact List Saved In Project Folder
10     3741             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2664              1             All Project Fees Invoiced
1      2747              2          All Travel Expenses Invoiced
2      2830              3                      All Invoice Paid
3      4144             19      All Subcontractors Invoices Paid
4      2913              4           Feedback Sessions Completed
5      2996              5                          3PL Database
6      3079              6                          WMS Database
7      3162              7       Project Documentation On Server
8      3245              8           Project Case Study Complete
9      3328              9  Contact List Saved In Project Folder
10     3735             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2678              1             All Project Fees Invoiced
1      2761              2          All Travel Expenses Invoiced
2      2844              3                      All Invoice Paid
3      4158             19      All Subcontractors Invoices Paid
4      2927              4           Feedback Sessions Completed
5      3010              5                          3PL Database
6      3093              6                          WMS Database
7      3176              7       Project Documentation On Server
8      3259              8           Project Case Study Complete
9      3342              9  Contact List Saved In Project Folder
10     3749             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2672              1             All Project Fees Invoiced
1      2755              2          All Travel Expenses Invoiced
2      2838              3                      All Invoice Paid
3      4152             19      All Subcontractors Invoices Paid
4      2921              4           Feedback Sessions Completed
5      3004              5                          3PL Database
6      3087              6                          WMS Database
7      3170              7       Project Documentation On Server
8      3253              8           Project Case Study Complete
9      3336              9  Contact List Saved In Project Folder
10     3743             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2668              1             All Project Fees Invoiced
1      2751              2          All Travel Expenses Invoiced
2      2834              3                      All Invoice Paid
3      4148             19      All Subcontractors Invoices Paid
4      2917              4           Feedback Sessions Completed
5      3000              5                          3PL Database
6      3083              6                          WMS Database
7      3166              7       Project Documentation On Server
8      3249              8           Project Case Study Complete
9      3332              9  Contact List Saved In Project Folder
10     3739             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2663              1             All Project Fees Invoiced
1      2746              2          All Travel Expenses Invoiced
2      2829              3                      All Invoice Paid
3      4143             19      All Subcontractors Invoices Paid
4      2912              4           Feedback Sessions Completed
5      2995              5                          3PL Database
6      3078              6                          WMS Database
7      3161              7       Project Documentation On Server
8      3244              8           Project Case Study Complete
9      3327              9  Contact List Saved In Project Folder
10     3734             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2674              1             All Project Fees Invoiced
1      2757              2          All Travel Expenses Invoiced
2      2840              3                      All Invoice Paid
3      4154             19      All Subcontractors Invoices Paid
4      2923              4           Feedback Sessions Completed
5      3006              5                          3PL Database
6      3089              6                          WMS Database
7      3172              7       Project Documentation On Server
8      3255              8           Project Case Study Complete
9      3338              9  Contact List Saved In Project Folder
10     3745             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0
10             22.0
updating ...
updating ...
updating ...
updating ...
deleting ...
deleting ...
deleting ...
deleting ...
deleting ...
updating ...
updating ...
merged_item_df -      item_id  wrong_task_id                            task_title  \
0      2677              1             All Project Fees Invoiced
1      2760              2          All Travel Expenses Invoiced
2      2843              3                      All Invoice Paid
3      4157             19      All Subcontractors Invoices Paid
4      2926              4           Feedback Sessions Completed
5      3009              5                          3PL Database
6      3092              6                          WMS Database
7      3175              7       Project Documentation On Server
8      3258              8           Project Case Study Complete
9      3341              9  Contact List Saved In Project Folder
10     3748             21                    Client Survey Sent

    correct_task_id
0              10.0
1              11.0
2              12.0
3              20.0
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9              17.0

In [50]:
""" for each project, update or delete tracker data """

for index, row in wrong_projects_df.iterrows():
    project_id = row["project_id"]
    office_id = row['office_id']

    correct_team_query = f'''
        SELECT distinct team.id as correct_team_id, team.title as team_title
        FROM core_user member
        JOIN global_manage_closeoutteammember cotm ON cotm.member_id = member.id
        join global_manage_closeoutteam team on team.id=cotm.team_id
        WHERE member.office_id=${office_id}
    '''

    correct_team_df = pd.read_sql(correct_team_query, engine)
    # print("correct_team_df - ", correct_team_df)

    wrong_tracker_query = f'''
        select ct.id as tracker_id, ct.team_id as wrong_team_id, cteam.title as team_title
        from  global_manage_closeouttracker ct
        join global_manage_closeoutteam cteam on ct.team_id=cteam.id
        join global_manage_projectmaster pm on ct.project_id=pm.id
        join global_manage_projectheader ph on pm.id=ph.project_id
        where pm.id=${project_id}
    '''

    wrong_tracker_df = pd.read_sql(wrong_tracker_query, engine)
    # print("wrong_tracker_df - ", wrong_tracker_df)


    merged_tracker_df = pd.merge(wrong_tracker_df, correct_team_df, on='team_title', how='left')
    print("merged_tracker_df - ", merged_tracker_df)

    for index, row in merged_tracker_df.iterrows():
        tracker_id = row["tracker_id"]
        correct_team_id = row['correct_team_id']

        if pd.notna(correct_team_id):
            update_query = f"""
                UPDATE global_manage_closeouttracker
                SET team_id = {correct_team_id}
                WHERE id = {tracker_id}
            """
            with engine.begin() as connection:
                connection.execute(update_query)
            print("updating ...")
        else:
            delete_query = f"""
                delete from global_manage_closeouttracker
                WHERE id = {tracker_id}
            """
            with engine.begin() as connection:
                connection.execute(delete_query)
            print("deleting ...")

print("DONE")

merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1216              1             Financial              5.0
1        1299              2    People Development              6.0
2        1382              3  Knowledge Management              NaN
3        1465              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1208              1             Financial              5.0
1        1291              2    People Development              6.0
2        1374              3  Knowledge Management              NaN
3        1457              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1218              1             Financial              5.0
1        1301              2    People Development              6.0
2        1384              3  Knowledge Management              NaN
3        1467              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1212              1             Financial              5.0
1        1295              2    People Development              6.0
2        1378              3  Knowledge Management              NaN
3        1461              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1214              1             Financial              5.0
1        1297              2    People Development              6.0
2        1380              3  Knowledge Management              NaN
3        1463              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1203              1             Financial              5.0
1        1286              2    People Development              6.0
2        1369              3  Knowledge Management              NaN
3        1452              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1210              1             Financial              5.0
1        1293              2    People Development              6.0
2        1376              3  Knowledge Management              NaN
3        1459              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1219              1             Financial              5.0
1        1302              2    People Development              6.0
2        1385              3  Knowledge Management              NaN
3        1468              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1204              1             Financial              5.0
1        1287              2    People Development              6.0
2        1370              3  Knowledge Management              NaN
3        1453              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1213              1             Financial              5.0
1        1296              2    People Development              6.0
2        1379              3  Knowledge Management              NaN
3        1462              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1207              1             Financial              5.0
1        1290              2    People Development              6.0
2        1373              3  Knowledge Management              NaN
3        1456              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1221              1             Financial              5.0
1        1304              2    People Development              6.0
2        1387              3  Knowledge Management              NaN
3        1470              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1215              1             Financial              5.0
1        1298              2    People Development              6.0
2        1381              3  Knowledge Management              NaN
3        1464              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1211              1             Financial              5.0
1        1294              2    People Development              6.0
2        1377              3  Knowledge Management              NaN
3        1460              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1206              1             Financial              5.0
1        1289              2    People Development              6.0
2        1372              3  Knowledge Management              NaN
3        1455              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1217              1             Financial              5.0
1        1300              2    People Development              6.0
2        1383              3  Knowledge Management              NaN
3        1466              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1220              1             Financial              5.0
1        1303              2    People Development              6.0
2        1386              3  Knowledge Management              NaN
3        1469              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
merged_tracker_df -     tracker_id  wrong_team_id            team_title  correct_team_id
0        1209              1             Financial              5.0
1        1292              2    People Development              6.0
2        1375              3  Knowledge Management              NaN
3        1458              4  Business development              7.0
updating ...
updating ...
deleting ...
updating ...
DONE

In [51]:
""" make sure there is no wrong data """

wrong_projects_query = f'''
    select DISTINCT ph.project_id, ph.contract_holding_office_id as office_id
    from  global_manage_closeouttracker ct
    join global_manage_closeouttrackeritem cti on ct.id=cti.closeout_tracker_id
    join global_manage_closeoutteam cteam on ct.team_id=cteam.id
    join global_manage_closeoutteammember member on cteam.id=member.team_id
    join core_user on core_user.id=member.member_id
    join global_manage_projectmaster pm on ct.project_id=pm.id
    join global_manage_projectheader ph on pm.id=ph.project_id
    where core_user.office_id != ph.contract_holding_office_id
'''

wrong_projects_df = pd.read_sql(wrong_projects_query, engine)

print("wrong_projects_df - ", wrong_projects_df)

print('Done')

wrong_projects_df -  Empty DataFrame
Columns: [project_id, office_id]
Index: []
Done